abrt/
clangd/
cmus/
dconf/
deluge/
GIMP/
gnuradio/
gtk-3.0/
libreoffice/
lxqt/
pulse/
QtProject/
qutebrowser/
Thunar/
urh/
VirtualBox/
xarchiver/
xfce4/
pavucontrol.ini
QtProject.conf
user-dirs.locale
