autostart/
cava/
dconf/
environment.d/
galculator/
garuda/
GIMP/
gtk-2.0/
gtk-3.0/
gtk-4.0/
gum_implementation/
htop/
hypr_/
jamesdsp/
kanshi/
Kvantum/
libreoffice/
mako/
mimeapps.list
mpv/
neofetch/
octopi/
pacseek/
pavucontrol.ini
psd/
pulse/
qt5ct/
qt6ct/
qutebrowser/
smplayer/
starship_cat.toml
starship.toml
swappy/
swaylock/
swaync/
Thunar/
user-dirs.dirs
user-dirs.locale
vlc/
xdg-desktop-portal/
xdg-desktop-portal-termfilechooser/
xfce4/
xsettingsd/
yay/
